
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    font-family: "poppins" , sans-serif;
}

 body {
    height: 100vh; 
    background: url( "backgrourd image.jpg") no-repeat center \ cover; 
    padding: 50px 5%;
 }

 .container {
    position: relative;
    height: 100%;
    background: seagreen; 
    border-radius: 30px;
 }
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 25px 5%;
    background: slateblue; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 
 .logo {
    font-size: 25px; 
    color: #fff;
    text-decoration: none;
    font-weight: 600;
 }

 .navbar a {
    font-size: 18px; 
    color: #fff; 
    text-decoration: none; 
    font-weight: 500; 
    margin-left: 2px solid transparent;  
    transition: .5s;
 } 
   .navbar a:hover , 
   .navbar a,:active {
    border-color: #fff; 
 }

.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}
 .home-detail h1{
    font-size: 55px;
    line-height: 1;
 }

.home-detail h2 {
    font-size: 32px;
}

.home-detail p{
    margin: 10px 0 20px; 
}
 .home-detail .download-social {
   display: inline-block; 
   padding: 10px 30px;
   background: #fff;
   border: 2px solid #fff;
   border-radius: 40px;
   box-shadow: 0 0 10px #fff;
   color: #333;
   text-decoration: none;
   font-weight: 500; 
   
 }

.btn:hover {
   background: transparent;
   box-shadow: none;
   color: #fff; 
}
.home-detail .social-icons {
   margin-left: 20px;
}
 .home-detail .social-icons a {
   display: inline-flex;
   padding: 8px; 
   border: 2px solid #fff;
   border-radius: 50%; 
   font-size: 20px; 
   color: #fff; 
   text-decoration: none;
   margin: 0 8px; 
   transition: .5s;
 }
  
 .home-detail .social-icons a:hover {
   background: #fff; 
   box-sizing: 0 0 10px #fff;
   color: #333;  
 }










